body {
    margin: 0;
    height: 100vh;
    background-color: #040405;
    font-family: 'Archivo', sans-serif;
    color: aliceblue;
}

.home {
    display: flex;
    height: 80px;
    font-size: 20px;
}

.logo {
    margin-left: 50px;
    margin-right: 20%;
}

.nav {
    margin: 2px;
    width: 70%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.nav li{
    margin: 2px;
    padding: 5px;
    list-style: none;
    font-weight:bold;
}

.grid-home {
    padding: 192px 0;
    display: flex;
    justify-content: space-around;
}

.box-home {
    width: 50%;
    text-align:justify
}

.titulo-home {
    padding: 0px 0px 24px;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 40px;
    text-align: left;
}

.logo-home{
    width: 500px;
    height: 500px;
    background-color: #09090b;
    border: 1px solid rgb(29, 29, 32);
}

.apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px 0;
    margin-top: 80px;
}

.sobre-mim {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid rgb(29, 29, 32);
    background-color: #09090b;
    display:flex;
    box-shadow: none;
    border-radius: 4px;
    text-align: start;
}

.resumo {
    width: 500px;
}

.code {
    margin-right: 20px;
    margin-left: 20px;
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 500px;
    border-radius: 5%;
    float: left;
    margin-right: 20px;
}

.redes {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin-top: 80px;
}

.icon-redes img {
    width: auto;
    height: auto;
    max-width: 70px;
    max-height: 68px;
    text-align: start;
}

.resumo p {
    font-size: 18px;
}

.resumo h1 {
    font-size: 40px;
}

.resumo h3:nth-child(1) {
    font-size: 20px;
    color: #ff3a5e;
    font-weight: lighter;
}

.resumo h3:nth-child(2) {
    font-size: 18px;
}

/*CONTAINER EXPERIENCIAS*/

.experiencias {
    background-color: #09090b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-lista {
    padding: 96px 48px ;
}

.lista-empregos {
    list-style: none;
}

/*PROJETOS*/

.titulo-secao {
    text-align: center;
    padding: 0px 0px 24px;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 40px;
}

.container-projeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 48px;
}

.ponto {
    color: #ff3a5e;
}

.box-projeto {
    display: flex;
}

.projeto {
    width: 364px;
    height: 226px;
    border: 2px solid lightblue;
    margin: 8px;
    background-color: #09090b;
}

a {
    text-align: center;
    text-decoration: none;
    color: #ff3a5e;
    font-size: 20px;
}

span h3{
    font-weight: lighter;
}

.container-servico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 48px;
    background-color: #09090b;
}

.box-servico {
    display: flex;
}

.servico {
    width: 364px;
    height: 326px;
    border: 2px solid lightblue;
    margin: 8px;
}

.container-conhecimento {
    display: flex;
    justify-content: center;
    padding: 96px 48px;
}

.titulo-secao-tech {
    font-size: 32px;
}

.box-skill {
    width: 40%;
}

.descricao-p {
    font-size: 18px;
}

.skill-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 40%;
}

.skill {
    width: 122.6px;
    height: 130px;
    background-color: #09090b;
    border: 1px solid rgb(29, 29, 32);
    border-radius: 2px;
}

.container-footer {
    background-color: #09090b;
    padding: 24px;
    display: flex;
    justify-content: space-around;
}